<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div style="margin-left:7px; margin-top:7px">
		<h3>Tambah Pegawai</h3>
		<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
			<table>
				<tr style="margin-top:10px">
					<td>Nama</td>
					<td></td>
					<td><input type="text" name="nama" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				
				<tr style="margin-top:10px">
					<td>Tempat Lahir</td>
					<td></td>
					<td><input type="text" name="tempat_lahir" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				
				<tr style="margin-top:10px">
					<td>Tanggal Lahir</td>
					<td></td>
					<td><input type="date" name="tanggal_lahir" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				
				<tr style="margin-top:10px">
					<td>Tahun Masuk</td>
					<td></td>
					<td><input type="number" name="tahun_masuk" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				
				<tr style="margin-top:10px">
					<td>Provinsi</td>
					<td></td>
					<td><select class="form-control" id="provinsi">
    					<option disabled="disabled" selected="selected">Pilih Provinsi</option>
        				<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
    				</select></td>
				</tr>
				
				<tr style="margin-top:10px">
					<td>Instansi</td>
					<td></td>
					<td><select class="form-control" id="instansi" name="instansi">
    					<option disabled="disabled" selected="selected">Pilih Instansi</option>
    				</select></td>
				</tr>
			
			</table>
			<br>
			<button type="submit" class="btn btn-primary">Simpan</button>
			<a th:href="@{/}"><button type="submit" class="btn btn-default">Kembali</button></a>
		</form>
		
	</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			console.log(valueProv)
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					console.log(data)
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
					}
					console.log(getIns)
					$('#instansi').append(getIns);
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
</script>


</body>

</html>