<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div style="margin-left:7px; margin-top:7px">
		<h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
		<div class="row" style="margin-left:10px">
			<div class="column" style="margin-right:15px">
				<p>Nama</p>
				<p>Deksripsi</p>
				<p>Gaji Pokok</p>
			</div>
			
			<div class="column">
				<p th:text="${jabatan.nama}"></p>
				<p th:text="${jabatan.deskripsi}"></p>
				<p th:text="${jabatan.gaji_pokok}"></p>
			</div>
    		
		</div>
		<a th:href="@{/jabatan/ubah}+'?idJabatan='+${jabatan.getId()}" class="btn btn-primary">Ubah</a>
    	<a th:href="@{/jabatan/hapus}+'?idJabatan='+${jabatan.getId()}" class="btn btn-primary">Hapus</a>
    </div>
    <br>
    
</body>

</html>